Repository denstuk/skillsync, pull requests merged in 2024-06, with the labels that each got.

#6 Feature/web basic layout
  apps/web/.eslintrc.cjs
  apps/web/.gitignore
  apps/web/index.html
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/App.tsx
  apps/web/src/api.ts
  apps/web/src/components/CodingFeedback.tsx
  apps/web/src/components/CodingQuestion.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/components/Loader.tsx
  apps/web/src/components/QuizQuestion.tsx
  apps/web/src/components/form/Button.tsx
  apps/web/src/components/form/FormLabel.tsx
  apps/web/src/components/form/Input.tsx
  apps/web/src/context/QuizSessionContext.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/QuizPage.tsx
  apps/web/src/pages/ResultsPage.tsx
  apps/web/src/prompts.ts
  apps/web/src/types.ts
  apps/web/src/vite-env.d.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
Labels: Frontend, Feature

#8 feat: improve quiz preparation
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/ai/quiz/ai.quiz.module.ts
  apps/backend/src/ai/quiz/ai.quiz.service.ts
  apps/backend/src/ai/quiz/prompts.ts
  apps/backend/src/app.controller.spec.ts
  apps/backend/src/app.module.ts
  apps/backend/src/gemini/gemini.service.ts
  apps/backend/src/interceptors/serialize.interceptor.ts
  apps/backend/src/quiz/dtos/quiz.dto.ts
  apps/backend/src/quiz/interfaces/ai.quiz.service.interface.ts
  apps/backend/src/quiz/quiz.controller.ts
  apps/backend/src/quiz/quiz.module.ts
  apps/backend/src/quiz/quiz.service.ts
  apps/backend/src/quiz/quizzes/dtos/create-quiz.dto.ts
  apps/backend/src/quiz/quizzes/dtos/question.dto.ts
  apps/backend/src/quiz/quizzes/dtos/submit-answer.dto.ts
  apps/backend/src/quiz/quizzes/question.entity.ts
  apps/backend/src/quiz/quizzes/quiz.controller.ts
  apps/backend/src/quiz/quizzes/quiz.entity.ts
  apps/backend/src/quiz/quizzes/quiz.module.ts
  apps/backend/src/quiz/quizzes/quiz.service.ts
Labels: Feature, Backend

#13 merge ui with integration
  apps/backend/src/ai/quiz/prompts.ts
  apps/backend/src/modules/composer/composer.service.ts
  apps/web/src/App.tsx
  apps/web/src/api.ts
  apps/web/src/api/api.ts
  apps/web/src/context/QuestionAndAnswerContext.tsx
  apps/web/src/context/QuizSessionContext.tsx
  apps/web/src/context/SkillAndLevelContext.tsx
  apps/web/src/context/TasksContext.tsx
  apps/web/src/pages/Experimental/QuizDemoPage.tsx
  apps/web/src/pages/Experimental/QuizHomePage.tsx
  apps/web/src/pages/Experimental/QuizTaskView/MultipleChoiceTaskView.tsx
  apps/web/src/pages/QuizPage.tsx
  apps/web/src/pages/QuizSessionPage.tsx
  apps/web/src/pages/ResultsPage.tsx
  apps/web/src/prompts.ts
  apps/web/src/types.ts
Labels: Frontend, Backend

#15 feat: add ai quiz validation
  apps/backend/package-lock.json
  apps/backend/src/ai/quiz/ai.quiz.service.ts
  apps/backend/src/gemini/dtos/quiz.ts
  apps/backend/src/gemini/gemini.service.ts
  apps/backend/src/quiz/dtos/quiz.dto.ts
  apps/backend/src/quiz/interfaces/ai.quiz.service.interface.ts
  apps/backend/src/quiz/quiz.controller.ts
  apps/backend/src/quiz/quiz.service.ts
  apps/backend/src/utils/retry.util.ts
Labels: Feature, Backend

#14 Feature: roadmap
  apps/backend/src/modules/composer/composer.module.ts
  apps/backend/src/modules/composer/composer.service.ts
  apps/backend/src/modules/roadmap/constants.ts
  apps/backend/src/modules/roadmap/roadmap.module.ts
  apps/backend/src/modules/roadmap/roadmap.service.ts
  apps/backend/src/modules/roadmap/types.ts
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/Combobox/Combobox.css
  apps/web/src/components/Combobox/Combobox.tsx
  apps/web/src/components/QuizLoaderOverlay/QuizLoaderOverlay.tsx
  apps/web/src/components/QuizLoaderOverlay/WaveLines.tsx
  apps/web/src/components/Roadmap/Roadmap.tsx
  apps/web/src/pages/Experimental/QuizHomePage.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/HomePage/HomePage.tsx
  apps/web/src/pages/QuizPage/QuizDemoPage.tsx
  apps/web/src/pages/QuizPage/QuizPage.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/CodeTaskView.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/DiagramTaskView.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/FreeTextTaskView.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/MultipleChoiceTaskView.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/PlaceHolderTaskView.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/SingleChoiceTaskView.tsx
  apps/web/src/pages/QuizSessionPage.tsx
  apps/web/src/pages/ResultsPage/ResultsPage.tsx
Labels: Frontend, Feature, Backend

#16 Feat/quiz results
  apps/backend/src/ai/quiz/prompts.ts
  apps/backend/src/quiz/dtos/quiz.dto.ts
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/api/api.ts
  apps/web/src/api/mocks.ts
  apps/web/src/api/types.ts
  apps/web/src/components/CodingFeedback.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/components/MultipleChoiceTaskCard.tsx
  apps/web/src/components/SingleChoiceQuestionCard.tsx
  apps/web/src/components/results/Results.tsx
  apps/web/src/components/results/TaskList.tsx
  apps/web/src/context/QuestionAndAnswerContext.tsx
  apps/web/src/pages/QuizPage/QuizDemoPage.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/CodeTaskView.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/FreeTextTaskView.tsx
  apps/web/src/pages/QuizPage/QuizTaskView/SingleChoiceTaskView.tsx
  apps/web/src/pages/ResultsPage.tsx
  apps/web/src/pages/ResultsPage/ResultsPage.tsx
  apps/web/src/types.ts
  apps/web/src/vite-env.d.ts
Labels: Frontend, Backend
