Repository denstuk/skillsync, pull requests merged in 2024-05, with the labels that each got.

#1 Feature: AWS Infrastructure
  .github/labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  README.md
  apps/aws/.env.example
  apps/aws/.gitignore
  apps/aws/README.md
  apps/aws/cdk.json
  apps/aws/cdk/config.ts
  apps/aws/cdk/constructs/web-deployment.ts
  apps/aws/cdk/main.ts
  apps/aws/cdk/stack.ts
  apps/aws/package-lock.json
  apps/aws/package.json
  apps/aws/tsconfig.json
  apps/web/build/index.html
Labels: Workflow, Infrastructure, Frontend, Feature

#2 Feature: AWS deploy backend
  .editorconfig
  .github/workflows/deploy.yml
  .gitignore
  README.md
  apps/aws/README.md
  apps/aws/cdk/config.ts
  apps/aws/cdk/constructs/fargate-service.ts
  apps/aws/cdk/constructs/web-deployment.ts
  apps/aws/cdk/stack.ts
  apps/backend/.eslintrc.js
  apps/backend/.gitignore
  apps/backend/.prettierrc
  apps/backend/Dockerfile
  apps/backend/nest-cli.json
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/app.controller.spec.ts
  apps/backend/src/app.controller.ts
  apps/backend/src/app.module.ts
  apps/backend/src/app.service.ts
  apps/backend/src/main.ts
  apps/backend/tsconfig.build.json
  apps/backend/tsconfig.json
  apps/web/package.json
Labels: Workflow, Infrastructure, Frontend, Feature, Backend

#5 Quiz module
  apps/backend/README.md
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/app.controller.ts
  apps/backend/src/app.module.ts
  apps/backend/src/gemini/dtos/quiz.ts
  apps/backend/src/gemini/gemini.module.ts
  apps/backend/src/gemini/gemini.service.ts
  apps/backend/src/interceptors/serialize.interceptor.ts
  apps/backend/src/main.ts
  apps/backend/src/quiz/quizzes/dtos/create-quiz.dto.ts
  apps/backend/src/quiz/quizzes/dtos/question.dto.ts
  apps/backend/src/quiz/quizzes/dtos/submit-answer.dto.ts
  apps/backend/src/quiz/quizzes/question.entity.ts
  apps/backend/src/quiz/quizzes/quiz.controller.ts
  apps/backend/src/quiz/quizzes/quiz.entity.ts
  apps/backend/src/quiz/quizzes/quiz.module.ts
  apps/backend/src/quiz/quizzes/quiz.service.ts
Labels: Feature, Backend
